<!--------------------------------------------------------------------------------------------------------
// AppAccordion.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<div id="@(this.Id)" class="app-accordion">
	<button class="app-accordion__button @(this.ButtonClass) @(this.accordionVariant)" @onclick="this.TogglePanel"
		aria-label="@(this.Label)">
		<span>@(this.Label)</span>
		<span class="app-accordion__icon">
			<FeatherChevronUp Size="20" Color="currentColor" StrokeWidth="2" />
		</span>
	</button>
	<div class="app-accordion__panel @(this.PanelClass)">
		@(this.ChildContent)
	</div>
</div>
