<!--------------------------------------------------------------------------------------------------------
// RoleManagement.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Administration/RoleManagement"
@attribute [Authorize(Roles = "Administrator")]
<div>
	<DxButton Click="@this.ViewModel.OpenCreationPopup" Text="Create Role"/>
	<DxPopup CloseOnOutsideClick="false" HeaderText="Create Role" @bind-Visible="@this.ViewModel.IsOnCreationMode">
		<Content>
			<CascadingValue Value="this.ViewModel.ErrorMessageViewModel">
				<RoleCreation ViewModel="@this.ViewModel.RoleCreationViewModel"/>
			</CascadingValue>
		</Content>
	</DxPopup>
</div>

@if (this.ViewModel.Roles.Count > 0)
{
	foreach (var role in this.ViewModel.Roles.Items.OrderBy(x => x.RoleName))
	{
		<div class="m-top-10px row" @onclick="@(() => this.ViewModel.GoToRolePage(role))">
			<div class="col-1">@role.RoleName</div>
			<div class="col-6">@role.AccessRightsAsString()</div>
		</div>
	}
}
else
{
	<div id="noRoleFound">
		No role found...
	</div>
}
