<!--------------------------------------------------------------------------------------------------------
// PhysicalFlowView.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using Blazor.Diagrams.Components;
@using UI_DSM.Client.Components.Widgets;
@using UI_DSM.Client.Components.NormalUser.DiagrammingConfiguration;
@using UI_DSM.Shared.Enumerator

@inherits GenericBaseView<UI_DSM.Client.ViewModels.Components.NormalUser.Views.IInterfaceViewViewModel>

<DxPopup CloseOnOutsideClick="false" HeaderText="Save Configuration" @bind-Visible="@this.ViewModel.IsOnSavingMode">
	<Content>
		<CascadingValue Value="this.ViewModel.ErrorMessageViewModel">
			<DiagrammingConfigurationPopup ViewModel="@this.ViewModel.DiagrammingConfigurationPopupViewModel"/>
		</CascadingValue>
	</Content>
</DxPopup>

<DxPopup CloseOnOutsideClick="false" HeaderText="Load Configuration" @bind-Visible="@this.ViewModel.IsOnLoadingMode">
    <Content>
        <DiagrammingConfigurationLoadingPopup ViewModel="@this.ViewModel.DiagrammingConfigurationLoadingPopupViewModel" />
    </Content>
</DxPopup>

<CascadingValue Value="this.Diagram">
    <div id="diagram-parent" @ref="this.DiagramReference">
	    <LoadingComponent IsLoading="@this.IsLoading">
		    @if (this.ViewModel.Participant.IsAllowedTo(AccessRight.CreateDiagramConfiguration))
		    {
			    <AppButton Label="Save layout" Type="button" Variant="AppButton.VariantValue.Tertiary" Click="@this.ViewModel.OpenSavingPopup">
						<FeatherSave Size="20" Color="currentColor" StrokeWidth="2"/> <span>Save</span>
			    </AppButton>
		    }
            
		    <AppButton Label="Load layout" Type="button" Variant="AppButton.VariantValue.Tertiary" Click="@this.ViewModel.OpenLoadingConfigurationPopup">
			    <FeatherUpload Size="20" Color="currentColor" StrokeWidth="2" /> <span>Load</span>
		    </AppButton>
		    <DiagramCanvas /> 
		    <DiagramLegendWidget />
	    </LoadingComponent>
    </div>
</CascadingValue>
