<!--------------------------------------------------------------------------------------------------------
// PhysicalFlowView.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Shared.Enumerator
@using UI_DSM.Client.Components.NormalUser.DiagrammingConfiguration
@using UI_DSM.Client.Components.Widgets
@using Blazor.Diagrams.Components
@inherits GenericBaseView<UI_DSM.Client.ViewModels.Components.NormalUser.Views.IInterfaceViewViewModel>

<ConfirmCancelPopup ViewModel="@this.ViewModel.ConfirmCancelPopup" />
<DxPopup CloseOnOutsideClick="false" HeaderText="Delete Configuration" @bind-Visible="@(this.ViewModel.IsOnDeletionMode)">
	<Content>
		<CascadingValue Value="this.ViewModel.ErrorMessageViewModel">
			<DiagrammingConfigurationDeletionPopup ViewModel="@(this.ViewModel.DiagrammingConfigurationDeletionPopupViewModel)"/>
		</CascadingValue>
	</Content>
</DxPopup>

<DxPopup CloseOnOutsideClick="false" HeaderText="Save Configuration" @bind-Visible="@(this.ViewModel.IsOnSavingMode)">
	<Content>
		<CascadingValue Value="this.ViewModel.ErrorMessageViewModel">
			<DiagrammingConfigurationPopup ViewModel="@(this.ViewModel.DiagrammingConfigurationPopupViewModel)"/>
		</CascadingValue>
	</Content>
</DxPopup>

<LoadingComponent IsLoading="@(this.IsLoading)">
	@if (this.ViewModel.Participant.IsAllowedTo(AccessRight.CreateDiagramConfiguration))
	{
		<AppButton Label="Save layout" Type="button" Variant="AppButton.VariantValue.Tertiary" Click="@(this.ViewModel.OpenSavingPopup)">
			<FeatherSave Size="20" Color="currentColor" StrokeWidth="2"/> <span>Save</span>
		</AppButton>

		<AppButton Label="Delete layout" Type="button" Variant="AppButton.VariantValue.Tertiary" Click="@(this.ViewModel.OpenDeletionComponent)">
			<FeatherTrash2 Size="20" Color="currentColor" StrokeWidth="2"/> <span>Delete</span>
		</AppButton>
	}
	
	<button id="load-configuration-button" type="button" @onclick="this.ViewModel.OpenLoadingConfiguration">
		<FeatherEye Size="20" Color="currentColor" StrokeWidth="2" /><span>@(string.IsNullOrEmpty(this.ViewModel.SelectedConfiguration)? "No configuration" : this.ViewModel.SelectedConfiguration)</span>
	</button>
	<DxDropDown @bind-IsOpen="@(this.ViewModel.IsOnLoadingMode)"
	            Width="200"
	            MaxHeight="500"
	            PositionTarget="#load-configuration-button"
	            PositionMode="DropDownPositionMode.Bottom"
	            PreventCloseOnPositionTargetClick="true">
		<BodyTemplate>
			<DxListBox DataAsync="@this.ViewModel.GetAvailableConfigurations" 
			           @bind-Value="@(this.ViewModel.SelectedConfiguration)"/>
		</BodyTemplate>
	</DxDropDown>

	<Filter ViewModel="this.ViewModel.FilterViewModel" Id="row">
		<FeatherFilter Size="20" Color="currentColor" StrokeWidth="2"/> <span>Filter</span>
	</Filter>
	<CascadingValue Value="this.Diagram">
		<div id="diagram-parent" @ref="this.DiagramReference">
			<DiagramCanvas/>
			<DiagramLegendWidget/>
		</div>

	</CascadingValue>
</LoadingComponent>