<!--------------------------------------------------------------------------------------------------------
// RoleCreation.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@attribute [Authorize(Roles = "Administrator")]
@using UI_DSM.Shared.Helpers
@using UI_DSM.Shared.Wrappers

<CascadingValue Name="PreventValidation" Value="true">
<EditForm Context="editFormContext" Model="@this.ViewModel.Role" OnValidSubmit="@this.ViewModel.OnValidSubmit">
	<DataAnnotationsValidator />
	<DxFormLayout>
		<DxFormLayoutItem Caption="Role Name:" ColSpanMd="12" >
			<DxTextBox @bind-Text="@this.ViewModel.Role.RoleName" NullText="Enter the name of the role"/>
		</DxFormLayoutItem>
		<DxFormLayoutItem Caption="Access Rights :" ColSpanMd="12">
			<DxListBox Data="@AccessRightHelper.GetAccessRights()"
			           @bind-Values="@this.ViewModel.SelectedAccessRights"
			           ShowCheckboxes="true"
			           SelectionMode="ListBoxSelectionMode.Multiple" 
			           TextFieldName="@nameof(AccessRightWrapper.AccessRightName)"/>
		</DxFormLayoutItem>
	</DxFormLayout>
	<ValidationSummary/>
	<ErrorMessage />
	<div class="modal-footer m-top-10px">
		<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Create" SubmitFormOnClick="true"/>
	</div>
</EditForm>
</CascadingValue>