<!--------------------------------------------------------------------------------------------------------
// CometConnection.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.Enumerator
@using CDP4Common.SiteDirectoryData

@if (this.ViewModel.CometConnectionStatus != AuthenticationStatus.Success)
{
	<EditForm Context="editFormContext" Model="@this.ViewModel.AuthenticationData" OnValidSubmit="@this.ViewModel.CometLogin">
		<DataAnnotationsValidator />
		<p class="alert-danger">@this.ViewModel.ErrorMessage</p>
		<DxFormLayout>
			<DxFormLayoutItem Caption="Source Address :" ColSpanMd="12">
				<DxTextBox @bind-Text="@this.ViewModel.AuthenticationData.Url" NullText="Enter the COMET source address" />
			</DxFormLayoutItem>
			<DxFormLayoutItem Caption="Username :" ColSpanMd="12">
				<DxTextBox @bind-Text="@this.ViewModel.AuthenticationData.UserName" NullText="Enter the COMET username" />
			</DxFormLayoutItem>
			<DxFormLayoutItem Caption="Password :" ColSpanMd="12">
				<DxTextBox @bind-Text="@this.ViewModel.AuthenticationData.Password" NullText="Enter the COMET password" Password="true"/>
			</DxFormLayoutItem>
		</DxFormLayout>
		<div class="modal-footer m-top-10px">
			<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="@this.ConnectButtonText" SubmitFormOnClick="true"/>
		</div>
	</EditForm>
}
else
{
	<EditForm Context="editFormContext" Model="@this.ViewModel" OnValidSubmit="@this.ViewModel.OnEventCallback">
		<DataAnnotationsValidator />
		<p class="alert-danger">@this.ViewModel.ErrorMessage</p>
		<DxFormLayout>
			<DxFormLayoutItem Caption="Engineering Model :" ColSpanMd="12">
				<DxComboBox Data="@this.ViewModel.AvailableEngineeringModels"
				            @bind-Value="this.ViewModel.SelectedEngineeringModelSetup" 
				            TextFieldName="Item2"/>
			</DxFormLayoutItem>
			<DxFormLayoutItem Caption="Iteration number :" ColSpanMd="12">
				<DxComboBox Data="@this.ViewModel.AvailableIterationsSetup"
				            @bind-Value="this.ViewModel.SelectedIterationSetup"
				            TextFieldName="Item2"/>
			</DxFormLayoutItem>
		</DxFormLayout>
		<div class="modal-footer m-top-10px">
			<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="@this.UploadText" SubmitFormOnClick="true"/>
		</div>
	</EditForm>
}

