<!--------------------------------------------------------------------------------------------------------
// CometUpload.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.Enumerator
@using CDP4JsonSerializer.JsonConverter
@using UI_DSM.Shared.DTO.CometData

@if (this.ViewModel.CometConnectionStatus != AuthenticationStatus.Success)
{
	<EditForm Context="editFormContext" Model="@this.ViewModel.UploadData" OnValidSubmit="@this.ViewModel.CometLogin">
		<DataAnnotationsValidator/>
		<p class="alert-danger">@this.ViewModel.ErrorMessage</p>
		<DxFormLayout>
			<DxFormLayoutGroup Caption="Comet Source" ColSpanMd="12">
				<DxFormLayoutItem Caption="Server Address :" ColSpanMd="12">
					<DxTextBox Text="@this.ViewModel.UploadData.Url" NullText="Enter the COMET source address"
					           TextChanged="@this.ViewModel.UrlTextHasChanged"
					           TextExpression="@(() => this.ViewModel.UploadData.Url)"/>
				</DxFormLayoutItem>
				<p>or</p>
				<DxFormLayoutItem Caption="Annex C3 File :" ColSpanMd="12">
					<InputFile OnChange="this.OnFileSelected" accept=".zip" @key="this.inputFileKey"/>
				</DxFormLayoutItem>
			</DxFormLayoutGroup>
			<DxFormLayoutGroup Caption="Credentials" ColSpanMd="12" BeginRow="true">
				<DxFormLayoutItem Caption="Username :" ColSpanMd="12">
					<DxTextBox @bind-Text="@this.ViewModel.UploadData.UserName" NullText="Enter the COMET username"/>
				</DxFormLayoutItem>
				<DxFormLayoutItem Caption="Password :" ColSpanMd="12">
					<DxTextBox @bind-Text="@this.ViewModel.UploadData.Password" NullText="Enter the COMET password" Password="true"/>
				</DxFormLayoutItem>
			</DxFormLayoutGroup>
		</DxFormLayout>
		<ValidationSummary/>
		<div class="modal-footer m-top-10px">
			<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="@this.ConnectButtonText" 
			          Enabled="@(this.ViewModel.CometConnectionStatus != AuthenticationStatus.Authenticating)"  SubmitFormOnClick="true"/>
		</div>
	</EditForm>
}
else
{
	<EditForm Context="editFormContext" Model="@this.ViewModel" OnValidSubmit="@this.ViewModel.OnEventCallback">
		<DataAnnotationsValidator />
		<p class="alert-danger">@this.ViewModel.ErrorMessage</p>
		<DxFormLayout>
			<DxFormLayoutItem Caption="Engineering Model :" ColSpanMd="12">
				<DxComboBox Data="@this.ViewModel.AvailableModels"
				            @bind-Value="this.ViewModel.SelectedEngineeringModelSetup" 
				            TextFieldName="@nameof(EngineeringModelData.EngineeringModelName)"/>
			</DxFormLayoutItem>
			<DxFormLayoutItem Caption="Iteration number :" ColSpanMd="12">
				<DxComboBox Data="@this.ViewModel.AvailableIterationsSetup"
				            @bind-Value="this.ViewModel.SelectedIterationSetup"
				            TextFieldName="@nameof(IterationData.IterationName)"/>
			</DxFormLayoutItem>
		</DxFormLayout>
		<div class="modal-footer m-top-10px">
			<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="@this.UploadText" 
			          Enabled="@(this.ViewModel.IterationUploadStatus != UploadStatus.Uploading)"
			          SubmitFormOnClick="true"/>
		</div>
	</EditForm>
}

