<!--------------------------------------------------------------------------------------------------------
// TaskAssignment.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<EditForm Context="editFormContext" Model="@this.Participant" OnValidSubmit="@this.ViewModel.OnValidSubmit">
	<DxFormLayout>
		<DxFormLayoutItem Caption="Participants :" ColSpanMd="12">
            <DxListBox Data="@this.ProjectParticipants"
					   @bind-Values="@this.ViewModel.SelectedParticipants"
					   ShowCheckboxes="true"
					   TextFieldName="@nameof(Participant.ParticipantName)" 
					   SelectionMode="ListBoxSelectionMode.Multiple" />
		</DxFormLayoutItem>
	</DxFormLayout>
	<div class="modal-footer m-top-10px">
		<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Assign" SubmitFormOnClick="true" Enabled="@this.ViewModel.SelectedParticipants.Any()"/>
	</div>
</EditForm>