<!--------------------------------------------------------------------------------------------------------
// AboutPage.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/About"
@attribute [Authorize(Roles = "Administrator")]

<LoadingComponent IsLoading="this.IsLoading">
	<h2>About</h2>
	<p>Server alive : @(this.systemInformation.IsAlive)</p>

	@if (this.systemInformation.IsAlive)
	{
		<h4>Server alive since : @this.systemInformation.StartTime.ToShortDateString() - @this.systemInformation.StartTime.ToShortTimeString() (Uptime : @(DateTime.Now - this.systemInformation.StartTime))</h4>
		<h4>Assemblies</h4>
		foreach (var assembly in this.systemInformation.AssembliesInformation)
		{
			<p>@assembly.AssemblyName : @assembly.AssemblyVersion.ToString()</p>
		}

		<h4>Database Status</h4>
		<p>State : @(this.systemInformation.DataBaseInformation.State.ToString())</p>
		<p>StartTime : @(this.systemInformation.DataBaseInformation.StartTime)</p>
		<p>Version : @(this.systemInformation.DataBaseInformation.DatabaseVersion)</p>
	}
</LoadingComponent>