<!--------------------------------------------------------------------------------------------------------
// ProjectPage.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Administration/Project/{ProjectId}"
@attribute [Authorize(Roles = "Administrator")]

@if (this.ViewModel.ProjectDetailsViewModel.Project == null)
{
	<div>
		Project not found...
	</div>
}
else
{
	<div>
		<AppButton Click="@this.ViewModel.OpenCreateParticipantPopup" Type="button">
			<FeatherUserPlus Size="20" Color="currentColor" StrokeWidth="2"  /> <span>Add participant</span>
		</AppButton>
		<DxPopup CloseOnOutsideClick="false" HeaderText="Create Participant" @bind-Visible="@this.ViewModel.IsOnCreationMode">
			<Content>
				<CascadingValue Value="this.ViewModel.ErrorMessageViewModel">
					<ParticipantCreation ViewModel="@this.ViewModel.ParticipantCreationViewModel"/>
				</CascadingValue>
			</Content>
		</DxPopup>
	</div>
	<ProjectDetails ViewModel="@this.ViewModel.ProjectDetailsViewModel"/>
	<div>
		<AppButton Click="@this.ViewModel.OpenCometConnectionPopup" Type="button">
			<FeatherUpload Size="20" Color="currentColor" StrokeWidth="2" /> <span>Add COMET Model</span>
		</AppButton>
		<DxPopup CloseOnOutsideClick="false" HeaderText="Upload an Iteration" @bind-Visible="@this.ViewModel.IsOnCometConnectionMode">
			<Content>
				<CometConnection ViewModel="@this.ViewModel.CometConnectionViewModel"/>
			</Content>
		</DxPopup>
	</div>
}