<!--------------------------------------------------------------------------------------------------------
// UserRegistration.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
<EditForm Context="editFormContext" Model="@this.ViewModel.Registration" OnValidSubmit="@this.ViewModel.OnValidSubmit">
	<DataAnnotationsValidator />
	<DxFormLayout>
		<DxFormLayoutItem Caption="UserName:" ColSpanMd="12" >
			<DxTextBox @bind-Text="@this.ViewModel.Registration.UserName" NullText="Enter username" />
		</DxFormLayoutItem>
		<DxFormLayoutItem Caption="Password:" ColSpanMd="12" BeginRow="true">
			<DxTextBox @bind-Text="@this.ViewModel.Registration.Password" NullText="Enter password" Password="true"/>
		</DxFormLayoutItem>
		<DxFormLayoutItem Caption="Confirm Password:" ColSpanMd="12" BeginRow="true">
			<DxTextBox  @bind-Text="@this.ViewModel.Registration.ConfirmPassword" NullText="Confirm the password" Password="true" BindValueMode="BindValueMode.OnInput"/>
		</DxFormLayoutItem>
	</DxFormLayout>
	<ValidationSummary/>
	<ErrorMessage />
	<div class="modal-footer m-top-10px">
		<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Register" SubmitFormOnClick="true"/>
	</div>
</EditForm>

