<!--------------------------------------------------------------------------------------------------------
// ProjectReview.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

<div class="project-page">
  <div class="page-header">
        <h1 class="h3">Review plans for @this.ViewModel.Project.ProjectName</h1>
  </div>
  <div class="projects-overview">
      @foreach (var review in this.ViewModel.Project.Reviews)
	  {
          <NavLink href=@("/Project/"+this.ViewModel.Project.Id+"/Review/"+review.Id)>
                @if (this.ViewModel.CommentsAndTasks.ContainsKey(review.Id))
                {
                   <AppProjectCard Title="@review.Title" Created="@review.CreatedOn.ToString()" Tasks="@this.ViewModel.CommentsAndTasks[review.Id].TaskCount" Comments="@this.ViewModel.CommentsAndTasks[review.Id].CommentCount" />
                }
                else
                {
                   <AppProjectCard Title="@review.Title" Created="@review.CreatedOn.ToString()" Tasks="-1" Comments="-1" />
                }
          </NavLink>
      }
  </div>
</div>


