<!--------------------------------------------------------------------------------------------------------
// ReviewCreation.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.Enumerator

<CascadingValue Name="PreventValidation" Value="true">
<EditForm Context="editFormContext" Model="@this.ViewModel.Review" OnValidSubmit="@this.ViewModel.OnValidSubmit">
	<DataAnnotationsValidator />
	<DxFormLayout>
		<DxFormLayoutItem Caption="Review Title:" ColSpanMd="12">
			<DxTextBox @bind-Text="@this.ViewModel.Review.Title" NullText="Enter the title of the review"/>
		</DxFormLayoutItem>
		<DxFormLayoutItem Caption="Review Description:" ColSpanMd="12">
			<DxTextBox @bind-Text="@this.ViewModel.Review.Description" NullText="Enter the description of the review" />
		</DxFormLayoutItem>
		<DxFormLayoutItem Caption="Engineering Models :" ColSpanMd="12">
			<DxListBox Data="@this.ProjectModels"
			           @bind-Values="@this.ViewModel.SelectedModels"
			           ShowCheckboxes="true"
			           SelectionMode="ListBoxSelectionMode.Multiple" 
			           TextFieldName="@nameof(Model.ModelName)"/>
		</DxFormLayoutItem>
	</DxFormLayout>
	<ValidationSummary/>
	<ErrorMessage />
	<div class="modal-footer m-top-10px">
		<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Create" SubmitFormOnClick="true" Enabled="this.ViewModel.CreationStatus != CreationStatus.Creating"/>
	</div>
</EditForm>
</CascadingValue>