<!--------------------------------------------------------------------------------------------------------
// ReviewObjectiveCreation.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using UI_DSM.Client.Enumerator
<EditForm Context="editFormContext" Model="@this.ViewModel.ReviewObjective" OnValidSubmit="@this.ViewModel.OnValidSubmit">
	<DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Select all" Click="@this.SelectAll"/>
	<div>PRR</div>
	<DxListBox Data="@this.AvailableReviewObjectiveCreationDtoPrr"
	           @bind-Values="@this.ViewModel.SelectedReviewObjectivesPrr"
	           ShowCheckboxes="true"
	           SelectionMode="ListBoxSelectionMode.Multiple"/>
	<div>SRR</div>
	<DxListBox Data="@this.AvailableReviewObjectiveCreationDtoSrr"
	           @bind-Values="@this.ViewModel.SelectedReviewObjectivesSrr"
	           ShowCheckboxes="true"
	           SelectionMode="ListBoxSelectionMode.Multiple"/>
	<div class="modal-footer m-top-10px">
		<DxButton RenderStyle="ButtonRenderStyle.Primary" Text="@this.CreationText"
		          Enabled="@(this.ViewModel.ReviewObjectivesCreationStatus != CreationStatus.Creating)"
		          SubmitFormOnClick="true"/>
	</div>
</EditForm>
