<!--------------------------------------------------------------------------------------------------------
// ModelPage.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Project/{ProjectId}/Model/{ModelId}"
@using UI_DSM.Shared.Extensions

<LoadingComponent IsLoading="@this.isLoading">
	<div class="model-page">
		
		<div class="model-page__body">
			<div class="model-page__header">
				<h2>@this.ViewModel.CurrentView.GetEnumDisplayName()</h2>
			</div>
			<div class="model-page__body-inner">
				<DynamicComponent Type="@(this.ViewModel.CurrentBaseView)" @ref="this.BaseView"/>
			</div>
		</div>

		<aside class="model-page__sidebar__right">
			<SelectedItemCard @ref="this.SelectedItemCard" OnItemDoubleClick="this.TryNavigateToItem"/>
			<RelatedViews OtherRelatedViews="@(this.ViewModel.GetAccessibleViews())"
			              OnViewSelect="@(this.OnViewSelect)"/>
		</aside>
	</div>
</LoadingComponent>