<!--------------------------------------------------------------------------------------------------------
// AppAccordion.razor
// Copyright (c) 2022 RHEA System S.A.
// 
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw
// 
// This file is part of UI-DSM. 
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
// 
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->

@namespace AppComponents

<div id="@Id" class="app-accordion">
  <button class="app-accordion__button @ButtonClass" @onclick="TogglePanel" aria-label="@Label">
    <span>@Label</span>
    <span class="app-accordion__icon">
      <FeatherChevronUp Size="24" Color="currentColor" StrokeWidth="2" />
    </span>
  </button>
  <div class="app-accordion__panel @PanelClass">
    @ChildContent
  </div>
</div>

@code {
  private string PanelClass => PanelOpen ? "app-accordion__panel--is-open" : null;
  private string ButtonClass => PanelOpen ? "app-accordion__button--is-active" : null;

  /// <summary>
  /// Button label used as aria label and innerhtml
  /// </summary>
  [Parameter]
  public string Label { get; set; }

  /// <summary>
  /// HTML ID for the app accordion
  /// </summary>
  [Parameter]
  public string Id { get; set; }

  /// <summary>
  /// HTML child content for the panel
  /// </summary>
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  /// <summary>
  /// Bool to keep track of the open state of the panel
  /// </summary>
  [Parameter]
  public bool PanelOpen { get; set; } = true;

  /// <summary>
  /// Method to toggle panel state
  /// </summary>
  private void TogglePanel()
  {
    PanelOpen = !PanelOpen;
  }
}
