<!--------------------------------------------------------------------------------------------------------
// DiagramNodeWidget.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models
@using UI_DSM.Client.Model

<div class="default-node @(this.Node.IsCentralNode ? "central-node" : "") @(Node.Selected ? "selected" : "") @this.NodeClass" @onmouseover="@((e)=> this.OnMouseOver(e))" @onmouseout="@((e)=> this.OnMouseOut(e))">

    @(this.Node.Title ?? "Title")

    @foreach (var port in this.Node.Ports.Cast<DiagramPort>())
    {
        <PortRenderer Port="port" Class="@(port.HasComments ? "port-comment " : "")">
            @if (this.NodeClass != string.Empty)
            {
                <label class="port-text" @key="port">@port.Text</label>
            }
        </PortRenderer>
    }

    @if(this.Node.HasComments)
    {
        <div class="node-comment"></div>
    }
</div>
