<!--------------------------------------------------------------------------------------------------------
// SearchPage.razor
// Copyright (c) 2022 RHEA System S.A.
//
// Author: Antoine Théate, Sam Gerené, Alex Vorobiev, Alexander van Delft, Martin Risseeuw, Nabil Abbar
//
// This file is part of UI-DSM.
// The UI-DSM web application is used to review an ECSS-E-TM-10-25 model.
//
// The UI-DSM application is provided to the community under the Apache License 2.0.
-------------------------------------------------------------------------------------------------------->
@page "/Search/{Keyword}"
@using UI_DSM.Shared.Extensions
@using UI_DSM.Client.Extensions


<DxPopup CloseOnOutsideClick="false" HeaderText="Select View" @bind-Visible="@(this.ViewModel.IsOnViewSelectionMode)">
	<Content>
		@foreach (var view in this.ViewModel.CurrentSearchResult.AvailableViews)
		{
			<button class="view__button" @onclick="() => this.ViewModel.NavigateTo(view)">
				<FeatherLink Size="20" Color="currentColor" StrokeWidth="2" />
				<span>
					@view.GetEnumDisplayName()
				</span>
			</button>
		}
	</Content>
</DxPopup>
<div class="search-page">
<h1 class="h3">Results for: @this.Keyword</h1>
<LoadingComponent IsLoading="@this.isLoading">
	@foreach (var locationGroup in this.searchResults.GroupBy(x => x.Location)
		.ToDictionary(g => g.Key ?? "UI-DSM", g => g.ToList()))
	{
		<div class="search-group">
			<AppAccordion PanelOpen="false" Label="@locationGroup.Key" Variant="AppAccordion.VariantValue.Group">
				<div class="search-group__main-category">
					@foreach (var objectKindGroup in locationGroup.Value.GroupBy(x => x.ObjectKind)
						.ToDictionary(g => g.Key, g => g.ToList()))
					{
						<div class="search-group__category">
							<AppAccordion PanelOpen="false" Label="@objectKindGroup.Key.AddSpaceBeforeUpperCase()" Variant="AppAccordion.VariantValue.Small">
								<ul class="search-group__list">
									@foreach (var result in objectKindGroup.Value)
									{
										<li>
											<SearchResultCard SearchResult="@result" OnClick="this.ViewModel.NavigateTo"/>
										</li>
									}
								</ul>
							</AppAccordion>
						</div>
					}
				</div>
			</AppAccordion>
		</div>
	}
</LoadingComponent>
</div>
